.mainButton {
    min-width: 90px;
    padding: 10px 15px;
    border-radius: 6px;
    background-color:brown;
    border: none;
    color: #FFF;
    font-size: 16px;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color .5s cubic-bezier(.4, 0, .2, 1), color .5s cubic-bezier(.4, 0, .2, 1);
}

.mainButton:hover {
    background-color: #484848;
    color: #BEA69E;
}